<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ddsolver</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>

<form action="/" method="get">
    <label for="path_name">Path: </label>
    <input id="path_name" type="text" name="pathname" value="/mnt/c">
    <input type="submit" value="OK">
</form>

<img src="/image.png">

<div>
    <button onclick="location.href='/prev_img'" type="button">
         Prev
    </button>
    <button onclick="location.href='/next_img'" type="button">
         Next
    </button>
</div>

</body>
</html>