<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ddsolver</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>

<form action="/" method="get">
    <label for="path_name">Path: </label>
    <input id="path_name" type="text" name="pathname" value="{{ curr_dir | default:'/mnt/c' }}">
    <input type="submit" value="Change path">
        <button onclick="location.href='/prev_img'" type="button">
         Prev
    </button>
    <span>{{ curr_idx }} / {{ image_count }}</span>
    <button onclick="location.href='/next_img'" type="button">
         Next
    </button>
</form>

<img src="/image.png">

</body>
</html>