<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ddsolver</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>

<form action="/" method="get">
    <label for="path_name">Path: </label>
    <input id="path_name" type="text" name="pathname" value="{{ curr_dir | default:'/mnt/c' }}">
    <input type="submit" value="Change path">
        <button onclick="location.href='/prev_img'" type="button">
         Prev
    </button>
    <span>{{ curr_idx }} / {{ image_count }}</span>
    <button onclick="location.href='/next_img'" type="button">
         Next
    </button>
</form>

<img src="/image.png" class="main_img" ondragstart="return false;" ondrop="return false;">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>

function api_select_xy(x_pos, y_pos, onsuccess = (data) => {}) {
    $.ajax({
        url : "/select_xy",
        type: "POST",
        data : {x: x_pos, y: y_pos, csrfmiddlewaretoken: window.CSRF_TOKEN},
        success: function(data, textStatus, jqXHR) {
            onsuccess(data);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(`${textStatus}: ${errorThrown} (${jqXHR.status})`);
        }
    });
}

function reloadImage(imgElem) {
    // reload image on success
    let imgUrl = imgElem.src.split('?')[0];
    imgElem.src = imgUrl + "?random=" + (new Date().getTime());
}

$(".main_img").click ( function (evt) {
    // Source: https://stackoverflow.com/questions/6854220/get-the-part-of-an-image-where-the-user-clicked
    var elem = $(this);
    var offsetFromParent = elem.position();
    var topThickness = (elem.outerHeight(true) - elem.height() ) / 2;
    var leftThickness = (elem.outerWidth (true) - elem.width () ) / 2;

    // (x,y) coordinates of the mouse click relative to the image.
    var x_pos = evt.pageX - offsetFromParent.left - leftThickness;
    var y_pos = evt.pageY - offsetFromParent.top  - topThickness;

    // send location to backend & reload image on success
    api_select_xy(x_pos, y_pos, (d) => reloadImage(elem[0]));
} );
</script>
</body>
</html>